$primary-color: #ffffff;
$border-color: #c5e1ff;
$element-size: 45px;

.container {
    height: 75vh;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    .buttons {
        display: flex;
        gap: 10px;
    }
    .button {
        background-color: rgba($color: $primary-color, $alpha: 0.2);
        padding: 6px 10px;
        border-radius: 5px;
        color: white;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.2);
        }
    }
    .button.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
.array {
    height: $element-size;
    position: relative;
}
.array-element {
    $primary-color: #ffffff;
    $border-color: #99bce1;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $element-size;
    min-height: $element-size;
    background-color: $primary-color;
    border: 2px solid $border-color;
    border-radius: 4px;
    font-size: 1.4rem;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.4s;
}
.array-element.active {
    border-color: #fe3b3b;
}
.array-element.sorted {
    border-color: #5a20a5;
}
.array-element.min {
    border-color: #fbff25;
}
